body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: aliceblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  text-align: center;
}
.div-add-filter{ /* style for ListReports page */
  display: flex;
  flex-direction: row;
  height: 4rem;
  align-items: center;
  
}
.div-add-filter input{
  width: 12rem;
  height: 2.3rem;
  margin-left: 10rem;
  margin-top: 0.6rem;
}

.dropdown-filter{
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}